//- the form
form.form.js-form(action='/submit', method='post')
  .form-group.js-form-group
    label.form-control-label(for='name')
      | Name
    input#name.form-control.js-form-control.js-name(
      type='name',
      name='name',
      placeholder='Your name here'
    )

  .form-group.js-form-group
    label.form-control-label(for='email')
      | Email
    input#email.form-control.js-form-control.js-email(
      type='email',
      name='email',
      placeholder='Your email here'
    )

  .form-group.js-form-group
    label.form-control-label(for='message')
      | Message
    textarea#message.form-control.js-form-control.js-message(
      type='text',
      name='message',
      rows='5',
      placeholder='Your message here'
    )

  .form-group.form-checkbox.js-form-group
    input#checkbox-privacy.form-checkbox-input.js-form-control.js-privacy(
      type='checkbox'
    )

    label.form-checkbox-label(for='checkbox-privacy')
      | By submitting you agree processing your data in accordance to the
      |
      a.link(href='/policy', title='Privacy Policy')
        | Privacy Policy

  button.btn.btn-block.btn-form-submit.js-form-btn-submit(type='submit')
    .text-default
      | Send message
    .text-sending
      | Sending ...
