mixin lazyLoadThumb(thumbSource, thumbPlaceholder, thumbTitle)
  img.thumb.js-lazy(
    src=`assets/images/${thumbPlaceholder}`,
    data-src=`assets/images/${thumbSource}`,
    alt=thumbTitle
  )

  //- fallback
  noscript
    img.thumb(src=`assets/images/${thumbSource}`, alt=thumbTitle)
