- itemHome = `Home`
- itemAbout = `About`
- itemPortfolio = `Portfolio`
- itemContacts = `Contacts`

nav.navigation.js-headroom
  //- mobile logo (mobile only)
  span.nav-logo.js-scroll-to(data-scrollTo='#section-1')
    //- logo minimal
    include ../../components/_logo_minimal.pug

  //- menu button (mobile only)
  buttton.nav-toggle-button
    span.text
      | menu btn

  //- nav link area
  .nav-menu.js-nav-menu
    //- navigation nav links with scroll logic
    ul.dot-items
      li.dot-item
        a#section-dot-1.dot-item-link.js-dot-item.js-scroll-to.js-dot-item-1(
          href='#section-1',
          data-scrollTo='#section-1',
          title=itemHome,
          alt=itemHome
        )
          span.text
            = itemHome

      li.dot-item
        a#section-dot-2.dot-item-link.js-dot-item.js-scroll-to.js-dot-item-2(
          href='#section-2',
          data-scrollTo='#section-2',
          title=itemAbout,
          alt=itemAbout
        )
          span.text
            = itemAbout

      li.dot-item
        a#section-dot-3.dot-item-link.js-dot-item.js-scroll-to.js-dot-item-3(
          href='#section-3',
          data-scrollTo='#section-3',
          title=itemPortfolio,
          alt=itemPortfolio
        )
          span.text
            = itemPortfolio

      li.dot-item
        a#section-dot-4.dot-item-link.js-dot-item.js-scroll-to.js-dot-item-4(
          href='#section-4',
          data-scrollTo='#section-4',
          title=itemContacts,
          alt=itemContacts
        )
          span.text
            = itemContacts
