- title       = 'About me.'
- subtitle    = 'Nice to know you.'

//- section heading mixin
+sectionHeading(title, subtitle)

.row.content

  .col-md-6.col-lg-7
    p.text
      | I am Valerio Sillari and I code websites, focusing on responsive web design and performances.

    p.text
      | In the past years I had experiences as Content Editor, Graphic Designer, Post Production. I worked for private and public companies and also on the set of shorts, documentaries and advertising.

    p.text
      | Now I work as Senior Frontend Developer: minimalism, simplicity, web performance and user experience are my passions.

    p.text
      | Right now I'm working in Berlin, Germany, at
      |
      a.link(
        href='https://exozet.com',
        target='_blank'
        title='Exozet'
      )
        | Exozet
      |
      | (part of
      |
      a.link(
        href='https://endava.com',
        target='_blank'
        title='Endava'
      )
        | Endava
      | ).

  .col-md-6.col-lg-5
    include ../animated_bars/animated_bars.pug
