//- INFO:

//- property='og:image:image:secure_url : you do NOT need it

//- ID app info: just a 'no-issue'. here info
//- https://stackoverflow.com/questions/38541027/facebook-share-app-id-missing

//- FACEBOOK | DEBUGGER ONLINE:
//- https://developers.facebook.com/tools/debug/
//- here debugger reset page: set the link of your page and Fetch new scrape information
//- https://developers.facebook.com/tools/debug/og/object

//- LINKEDIN
//- Linkedin uses the og image of/as Facebook: so one image for both websites!
//- it caches info for one week!
//- for "tricking" the cache you need to add extra paraneter at the end ot the url: ?stuff
//- http://beta.beantin.se/clearing-linkedin-link-sharing-preview-cache/
//- on mobile app, on messages, it seems it will not take the BIG images, but cut it off as SMALL image: take care about design inside the image file!

link(rel='canonical', href=_urlSourceWebsite)

meta(property='og:url', content=_urlSourceWebsite)

meta(property='og:title', content=`${_ogTextTitle}`)
meta(property='og:site_name', content=`${_ogTextTitle}`)
meta(property='og:description', content=`${_ogTextDescription}`)

meta(property='og:type', content=_ogTypeWebsite)

//- og image with absolute path
meta(property='og:image:type', content='image/png')
meta(property='og:image', content=_urlSourceWebsiteImage)
meta(property='og:image:url', content=_urlSourceWebsiteImage)
meta(property='og:image:width', content='1200')
meta(property='og:image:height', content='630')


//- ---------------------------------
//- TWITTER
//- debug twitter card
//- https://cards-dev.twitter.com/validator
meta(name='twitter:card', content=`summary_large_image`)
meta(name='twitter:site', content=`${authorTwitter}`)
meta(name='twitter:creator', content=`${authorText}`)
meta(name='twitter:title', content=`${_ogTextTitle}`)
meta(name='twitter:description', content=`${_ogTextDescription}`)
meta(name='twitter:image', content=_urlSourceWebsiteImage)
meta(name='twitter:image:alt', content=`${_ogTextTitle}`)
