//- thumb lazy load
include ../mixins/mixins_thumb_lazy_load/_mixins_thumb_lazy_load.pug
//- section heading
include ../mixins/mixins_section_heading/_mixins_section_heading.pug
//- teaser card
include ../mixins/mixins_teasers/_mixins_teaser_card.pug

//- ---------------------------------------------------------------
//- basic info
- authorText      = 'Valerio Sillari'

- authorTwitter   = '@stellavalerio'

- keywordText     = 'Front end developer Berlin, Graphic Designer Berlin, Web Designer Berlin, Front end developer Italy, Graphic Designer Italy, Web Designer Italy, Front end developer Italia, Graphic Designer Italia, Web Designer Italia, developer, graphic, Valerio Sillari'

//- TODO: set based on real url. so not heroku but url where you are?
//- for OG info (FB and Twitter)
- _urlSourceWebsite       = 'http://www.valeriosillari.com/';

//- image for FB: sizes : 1200 x 630
//- https://developers.facebook.com/docs/sharing/best-practices
- _urlSourceWebsiteImage  = `${_urlSourceWebsite}/logo_og_image.png`;

- _ogTextTitle            = 'Valerio Sillari // Frontend'

- _ogTextDescription      = 'I do frontend. With love. And with strong focus on performance, UX and details.'

- _ogTypeWebsite          = 'website'

block pageVariables
  - isPageHome = false
  - isPageError = false

- metaTitleText = `${authorText} // ${pageTitle || 'Frontend'}`

- setPageClass = !isPageHome ? 'is-page-plain' : ''

doctype html
html.no-js(
  lang='en',
  class=setPageClass
)

  //- ==============================
  head(prefix='og: http://ogp.me/ns#')
    meta(charset='utf-8')

    //- ---------------------------------
    //- meta info

    title
      =metaTitleText

    meta(name='description', content=descriptionText)
    meta(name='author', content=authorText)
    meta(name='keywords' content=keywordText)

    //- meta stuff for Facebook | LinkedIn | Twitter
    include ../page_structure/_canonical_options.pug

    //- viewport
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //- ---------------------------------
    //- Favicon Here
    //- MORE INFO HERE:
    //- https://github.com/h5bp/html5-boilerplate/pull/1481
    //- apple devices: it is in the root directory: in the public/dist folder (via GulpJS)
    //- OS windows (tile.png and tile-wide.png) icons are also set in the root directory: in the public/dist folder (via GulpJS)
    //- favicon.ico is in the root directory: in the public/dist folder (via GulpJS)    
    link(rel='apple-touch-icon' href='apple-touch-icon.png')

    //- stylesheets
    link(rel='stylesheet', type='text/css', href='/assets/stylesheets/index.min.css')

  //- ==============================
  body
    //- Splashscreen (at page ready it fades out)
    include ../widgets/splashscreen/_splashscreen.pug

    //- happy browser (for old browsers like IE9)
    include ../widgets/happy_browser/essential.pug
    
    //- navigation : show only on Homepage
    if isPageHome
      include ../widgets/navigation/_navigation_area.pug

    //- page content
    block content

    //- footer : show always but NOT on error page
    if !isPageError
      include ../widgets/footer/_footer_area.pug

    //- device rotate | fallback
    include ../widgets/device_rotate_fallback/essential.pug

    //- No JS message (box)
    include ../widgets/no_js_message/essential.pug

    //- Analytics | async inline js
    include ../widgets/analytics/analytics.pug

    //- javascripts
    script(async, src='/assets/javascripts/index.min.js')
